# Xcode
*.xcodeproj/
!*.xcodeproj/project.pbxproj
*.xcworkspace/
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/

# CocoaPods (not used, but just in case)
Pods/

# macOS
.DS_Store
*.swp
*~.nib
